<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GeoCoder App</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="container">
  <h1>GeoCoder</h1>
  <h3>Please upload your .xlsx file. Address values should be in <em>Address</em> or <em>address</em> column.</h3>
  <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
    <input type="file" accept=".xlsx" name="file">
    <button type="submit">Submit</button>
  </form>

  <div class="result">
    {{text|safe}}
    {% include bttn ignore missing %}
  </div>
</div>

</body>
</html>